# sweetviz

This is an example notebook to show the functionality of sweetviz (EDA tool)

In [1]:
#import libraries
import pandas as pd
#!pip install sweetviz
import sweetviz as sv

In [2]:
file='crime.xlsx'
df=pd.read_excel(file)
df.head()

,crimes_per_1mn,viol_crimes_per_100k,police_fund_doll_res,%_25+_4_yrs_high,%_16-19_not_in_high,%_18-24_in_college,%_24+_4_yrs_coll
0,478,184,40,74,11,31,20
1,494,213,32,72,11,43,18
2,643,347,57,70,18,16,16
3,341,565,31,71,11,25,19
4,773,327,67,72,9,29,24

In [3]:
#creatin sweetviz report
report = sv.analyze(df)
report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

:FEATURES DONE:                    |█████████████████████| [100%]   00:07  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!
Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.