# sweetviz

This is an example notebook to show the functionality of sweetviz (EDA tool)

In [5]:
#import libraries
import pandas as pd
import numpy as np
#!pip install sweetviz
import sweetviz as sv

In [7]:
file='crime.xlsx'
df=pd.read_excel(file)
df.head()

,reported crimes per 1 mn residents,reported violent crimes per 100k residents,annual police funding in $/resident,% of people 25years up+with 4 yrs. of high school,% of 16 to 19 year-olds not in highschool and not highschool graduates,% of 18 to 24 year-olds in college,% of people 24years up with at least 4 years of college
0,478,184,40,74,11,31,20
1,494,213,32,72,11,43,18
2,643,347,57,70,18,16,16
3,341,565,31,71,11,25,19
4,773,327,67,72,9,29,24

In [8]:
#creatin sweetviz report
report = sv.analyze(df)
report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!
Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.